:root {
--backgroundColorFirst: #e5e5e5;
--backgroundColorSecond: #2f303a;
--fontColorFirst: #212121;
--fontColorSecond:  #757575;
--button: #00000026;
--colorBlue: #2196f3;
--colorShadow: #ffffff99;
--colorWhite: #ffffff;
--colorDarkWhite: #f5f4fa;
--caption: #eeeeee; 
}
/*body style*/
.body {
color: var(--fontColorFirst);
font-family: "Roboto","Raleway", sans-serif;
} 
ul {
list-style: none;
}
.img {
display: block;
max-width: 100%;
padding: 0;
margin: 0;
}
.container {
width: 1200px;
display: flex;
flex-wrap: wrap;
padding-left: 15px;
padding-right: 15px;
margin: auto;
}
.header-container {
    justify-content: space-between;
    align-items: center;
}

.list {list-style: none;
padding: 0;
margin: 0;
}
    /*body end*/
    /*logo*/  
.logo {
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.38;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--colorBlue);
padding-top: 24px;
padding-bottom: 24px;
}   
.logo-recolor-header {color: var(--fontColorFirst)}
/*logo end*/
/*navigation*/
.navigation {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
display: flex;
align-items: center;

}
.navigation .link:hover, 
.navigation .link:focus {color: var(--colorBlue);
outline-color: var(--colorBlue);
}
.navigation .list {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
margin-left: 93px;
}
.navigation .item:not(:last-child) {margin-right: 50px;}

.navigation .link {text-decoration: none;
color: var(--fontColorFirst);
}
.navigation .current {color: var(--colorBlue);
}
/*navigation end*/
/*contact*/
.links-contact .item:not(:last-child){
    margin-right: 50px;
}
.links-contact {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
align-items: center;
display: flex;
justify-content: space-between;
}
.links-contact .link {
color: var(--fontColorSecond);
text-decoration: none;
}    
.links-contact .link:focus,
.links-contact .link:hover {
color: var(--colorBlue);}
    /*contact end*/
/*efektywne rozwiazania glowny naglowek*/
.back-section-first {
background-color: var(--backgroundColorSecond);
}
.back-section-first .container {
flex-direction: column;
padding-top: 200px;
padding-bottom: 200px;    
}
.first-heading {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: var(--colorWhite);
background-color: var(--backgroundColorSecond);
width: 696px;
justify-content: center;
margin: 0 auto 30px;
}
.button {
background: var(--colorDarkwhite) ;
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.button-order {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 00.06em;
text-align: center;
align-items: center;
color: var(--colorWhite);
background: var(--colorBlue);
cursor: pointer;
border-radius: 4px;
padding-left: 42px;
padding-top: 10px;
padding-right: 41px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
.button.hover {
background: var(--colorBlue);
color: var(--colorWhite);
cursor: pointer;
}
/* efektywne rozwiązania text kolumny*/
.text-section .list {    
display: flex;
flex-wrap: wrap;
column-gap: 30px;
}
.text-section .list .item {
margin-left: calc(-1*30px);
flex-basis: calc((100% -3 *30px)/5);
}
.heading .list {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--fontColorFirst);
text-align: center;
margin-bottom: 10px;
}
.text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
width: 270px;
}
    /* efektywne rozwiazania end*/
    /* czym sie zajmujemy*/
.services .container {
flex-direction: column;
padding-bottom: 94px;
}
.services .list {
justify-content: space-between;
flex-wrap: wrap;
display: flex;
column-gap: 30px;
}
.services .second-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}
/******* zespół********/
.back-section-second {
background-color: var(--colorDarkWhite);
}
.back-section-second .list {
margin-left: calc(-1 *30px);
display: flex;
flex-wrap: wrap;
column-gap: 30px;
padding-top: 50px;
padding-bottom: 94px;
}
.third-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 00.03em;
margin-left: auto;
margin-right: auto;
justify-content: center;
margin-bottom: 50px;
}
.third-heading .list .caption {
padding-top: 30px;
padding-bottom: 30px;    
}
.person-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorFirst);
justify-content: center;
margin-bottom: 10px;
}
.person-position {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
justify-content: center;
}
/* czym sie zajmujemy end */
/* footer*/
.back-footer {
color: var(--colorWhite);
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
background-color: var(--backgroundColorSecond);
padding-top: 60px;
padding-bottom: 60px;
}
.logo-recolor-footer { color: var(--colorWhite);
margin-top: auto;
}
.back-footer .container {
flex-direction: column;
align-items: baseline;
}
.back-footer .list {
flex-direction: column;
margin-bottom: 9px;
}
.address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--colorWhite);
}
.back-footer .link {
text-decoration: none;
color: var(--fontColorSecond);
}
.back-footer .link:focus,
.back-footer .link:hover {
    color: var(--colorBlue);
}
/*footer end*/
/*************portfolio*******************/
.gallery .container {
flex-direction: column;
}
.heading-portfolio .gallery-elements{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--fontColorFirst);
display: block;
margin-bottom: 4px;
}
.text-signature .gallery-elements{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
display: block;
}
.gallery-elements {
flex-wrap: wrap;
padding-top: calc(-1*34px);
padding-left: calc(-1*30px);
flex-wrap: wrap;
display: flex;
}
.gallery-elements .link {
display: inline-block;
padding: 0px;
margin: 0px;
text-decoration: none;
max-width: 370px;
color: var(--fontColorFirst);
}
.gallery-elements .caption {
padding: 20px 24px;
border: 1px solid var(--caption);
border-top: none;
}
.portfolio-button .gallery-elements-buttons {
background: var(--colorDarkwhite);
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
border-style: hidden;
border-radius: 4px;
padding: 6px 22px;
list-style: none;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;
}
.portfolio-link:hover .gallery-elements-buttons {
background-color: var(--colorBlue);
}
.gallery-elements-buttons {
display: flex;
justify-content: center;    
}
.gallery-elements-buttons>li:not(:last-child) {
margin-right: 8px;
}
    