:root {
--backgroundColorFirst: #e5e5e5;
--backgroundColorSecond: #2f303a;
--fontColorFirst: #212121;
--fontColorSecond:  #757575;
--button: #00000026;
--colorBlue: #2196f3;
--colorShadow: #ffffff99;
--colorWhite: #ffffff;
--colorBlack:#000000;
--colorDarkWhite: #f5f4fa;
--caption: #eeeeee; 
--headerBorderColor: #ececec;
--colorGrey: #AFB1B8;
--color-transparent: rgba(255, 255, 255, 0.6);
--color-transparent-dark: rgba(255, 255, 255, 0.1);
--color-transparent-what-we-do: rgba(47,48,58,0.8);
--color-transparent-modal1: rgba(0, 0, 0, 0.1);
--color-transparent-modal2: rgba(0, 0, 0, 0.2);
--background-gallery-blue: rgba(33, 150, 243, 0.9);
}
/*body style*/
.body {
color: var(--fontColorFirst);
font-family: "Roboto","Raleway", sans-serif;
} 
ul {
list-style: none;
}
img {
display: block;
max-width: 100%;
padding: 0;
margin: 0;
}
.container {
width: 1200px;
display: flex;
flex-wrap: wrap;
padding-left: 15px;
padding-right: 15px;
margin: auto;
}
.section{
padding: 94px 0;
}
header {
border-bottom: 1px solid var(--headerBorderColor);
}
.header-container {
justify-content: space-between;
align-items: center;
padding: 24px 15px ;
}
.list {list-style: none;
padding: 0;
margin: 0;
}
    /*body end*/
    /*****ICONS*****/
.icon {
display: block;
fill: currentColor;
}
.icon-telephone {
width: 10px;
height: 16px;
}
.icon-envelope {
width: 16px;
height: 12px;
}
.icon-information {
width: 270px;
height: 120px;
margin-bottom: 30px;
border: none;
border-radius: 4px;
background-color: var(--colorDarkWhite);
}
.icon-social {
width: 20px;
height: 20px;
}
.icon-client {
width: 106px;
height: 60px;
}
.icon-footer {
width: 20px;
height: 20px;
}
.social-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: var(--colorGrey);
fill: var(--colorGrey);
transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),
color 250ms cubic-bezier(0.4,0,0.2,1);
}
.social-link:hover,
.social-link:focus {
background-color: var(--colorBlue);
color: var(--colorWhite);
}
    /*logo*/  
.logo {
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.38;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--colorBlue);
}   
.logo-recolor-header {color: var(--fontColorFirst)}
/*logo end*/
/*navigation*/
.navigation {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
display: flex;
align-items: center;
}
.navigation .item {
position: relative;
}
.navigation .list .current::after {
content:"";
position: absolute;
height: 4px;
width: 100%;
border-radius: 2px;
background-color: var(--colorBlue);
top: 46px;

}
.navigation .link:hover, 
.navigation .link:focus {color: var(--colorBlue);
outline-color: var(--colorBlue);
}
.navigation .list {
display: flex;
margin-left: 93px;
}
.navigation .item:not(:last-child) {margin-right: 50px;}
.navigation .link {
text-decoration: none;
color: var(--fontColorFirst);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation .current {color: var(--colorBlue);
}
/*navigation end*/
/*contact*/
.link {
display: flex;
gap: 10px;
align-items: center;
}
.links-contact .item:not(:last-child){
    margin-right: 50px;
}
.links-contact {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
align-items: center;
display: flex;
justify-content: space-between;
}
.links-contact .link {
color: var(--fontColorSecond);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.links-contact .link:focus,
.links-contact .link:hover {
color: var(--colorBlue);}
    /*contact end*/
/*efektywne rozwiazania glowny naglowek*/
.back-section-first {
background-color: var(--backgroundColorSecond);
}
.image {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/team-working.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: 1600px;
}
.back-section-first .container {
flex-direction: column;
padding-top: 200px;
padding-bottom: 200px;    
}
.first-heading {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: var(--colorWhite);
width: 696px;
justify-content: center;
margin: 0 auto 30px;
}
.button {
background: var(--colorDarkwhite) ;
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.button-order {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 00.06em;
text-align: center;
align-items: center;
color: var(--colorWhite);
background: var(--colorBlue);
cursor: pointer;
padding-left: 42px;
padding-top: 10px;
padding-right: 41px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.hover {
background: var(--colorBlue);
color: var(--colorWhite);
cursor: pointer;
}
/* efektywne rozwiązania text kolumny*/
.text-section .list {    
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.text-section .list .item {
flex-basis: calc((100% - 3 * 30px) / 4);
}
.heading .list {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--fontColorFirst);
text-align: center;
}
.list2 {
margin: 0;
padding: 0;
flex-wrap: wrap;
display: flex;
gap: 30px;
}
.item2 {
flex-basis: calc((100% - 90px)/4);
}
.text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
width: 270px;
}
    /* efektywne rozwiazania end*/
    /* czym sie zajmujemy*/
.services .container {
flex-direction: column;
padding-bottom: 94px;
}
.services .list {
justify-content: space-between;
flex-wrap: wrap;
display: flex;
column-gap: 30px;
}
.services .second-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}
      /*NAPIS CZYM SIĘ ZAJMUJEMY WHAT-WE-DO NAPIS*/
.what-we-do {
position: relative;
flex-basis: calc((100% - 60px)/3);
}
.what-we-do-caption {
position: absolute;    
width: 100%;    
bottom: 0;
margin: 0;
padding-top: 27px;
padding-bottom: 27px;
font-weight: 700;
font-size: 14px;
line-height: 1,15;
text-align: center;
color: var(--colorWhite);
background: var(--color-transparent-what-we-do);
}
/******* zespół********/
.back-section-second {
background-color: var(--colorDarkWhite);
}
.back-section-second .list {
display: flex;
flex-wrap: wrap;
column-gap: 30px;
}
.third-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 00.03em;
justify-content: center;
margin: 0 auto 50px auto;
}
.third-heading .list .caption {
padding-top: 30px;
padding-bottom: 30px;    
}

/*------------------*/

.back-section-second .item {
background-color: var(--colorWhite);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}
.back-section-second .caption {
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 0;
}
.back-section-second img{
display: block;
}
.person-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorFirst);
justify-content: center;
padding: 0;
margin: 0 0 10px 0;
}
.person-position {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
justify-content: center;
padding: 0;
margin: 0;
margin-bottom: 16px;
}
.flex-social {
margin: 0;
padding: 0;
display: flex;
gap: 10px;
align-items: center;
}
/* czym sie zajmujemy end */
/*********Nasi klienci**********/
.flex-clients {
margin: 0;
padding: 0;
display: flex;
gap: 30px;
flex-wrap: wrap;
}
.client-link {
width: 170px;
height: 92px;
border: 1px var(--colorGrey) solid;
color: var(--colorGrey);
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
fill: var(--colorGrey);
transition: border-color 250ms cubic-bezier(0.4,0,0.2,1),
color 250ms cubic-bezier(0.4,0,0.2,1);
}
.client-link:hover,
.client-link:focus {
border: 1px var(--colorBlue) solid;
color: var(--colorBlue);
}
.flex-logos {
display: flex;
}
/* footer*/
.back-footer {
color: var(--colorWhite);
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
background-color: var(--backgroundColorSecond);
padding:60px 0px 60px 0px;
display: flex;
}
.logo-recolor-footer { color: var(--colorWhite);
margin-top: auto;
}
.back-footer .wrapper {
flex-direction: column;
display: flex;
margin-right: 70px;
}
.address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--colorWhite);
padding-top: 24px;
}
.back-footer .link {
text-decoration: none;
color: var(--fontColorSecond);
}
.back-footer .link:focus,
.back-footer .link:hover {
color: var(--colorBlue);
}
.footer-heading {
margin-top: 12px;
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--colorWhite);
}
.flex-footer {
padding: 0;
margin: 0;
display: flex;
justify-content: center;
gap: 10px;
}
.footer-link {
color: var(--colorWhite);
width: 44px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--color-transparent-dark);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
background-color: var(--colorBlue);
}
/*footer end*/
/*************portfolio*******************/
.gallery .container {
flex-direction: column;
}
.gallery-elements .heading-portfolio{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--fontColorFirst);
display: block;
margin-bottom: 4px;
}
.gallery-elements .text-signature {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
display: block;
}
.gallery-elements {
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin: 0;
padding: 0;
}
.gallery-elements .item{
flex-basis: calc((100% - 2 * 30px) / 3);
position: relative;
overflow: hidden;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-relative {
position: relative;
overflow: hidden;
}
.gallery-description{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
padding-right: 45px;
padding-left: 24px;
font-size: 18px;
line-height: 1.55;
display: flex;
align-items: center;
color: var(--colorWhite);
background-color: var(--background-gallery-blue);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);
transform: translateY(100%);
}
.gallery-elements .link {
display: block;
padding: 0px;
margin: 0px;
text-decoration: none;
width: 100%;
color: var(--fontColorFirst);
}
.gallery-elements .caption {
width: 100%;    
padding: 20px 24px;
border-left: 1px solid var(--caption);
border-right: 1px solid var(--caption);
border-bottom: 1px solid var(--caption);
}
.gallery-elements-buttons .portfolio-button  {
background-color: var(--colorDarkWhite);
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
border-style: hidden;
border-radius: 4px;
padding: 6px 22px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2,1);
}
.gallery-elements-buttons .portfolio-link:hover,
.gallery-elements-buttons .portfolio-link:focus {
background-color: var(--colorBlue);
color: var(--colorWhite);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);
cursor: pointer;
}
.gallery-elements .item:hover
.gallery-elements .item:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
 0px 4px 4px rgba(0, 0, 0, 0.06),
 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-elements .item:hover .gallery-description,
.gallery-elements .item:hover .gallery-description
{
transform: translateY(0%);
}
.gallery-elements-buttons {
display: flex;
justify-content: center;
margin : 0px auto 50px;
}
.gallery-elements-buttons>li:not(:last-child) {
margin-right: 8px;
}
/* MODAL WINDOW*/
.backdrop {
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
background: var(--color-transparent-modal2);
align-items: center;
display: flex;
justify-content: center;
}
.modal {
position: absolute;
width: 528px;
height: 581px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--colorWhite);
border-radius: 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}
.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: visibility 250ms ease-in-out,
opacity 250ms ease-in-out;
}
.btn-close {
width: 30px;
height: 30px;
top: 8px;
right: 8px;
position: absolute;
border: 1px solid var(--color-transparent-modal1);
background: var(--colorWhite);
border-radius: 50%;
}
.icon-btn-close {
width: 18px;
height: 18px;
fill: var(--colorBlack);
}
.btn-close:hover,
.btn-close:focus {
cursor: pointer;
}
/* MODAL WINDOW FINISH*/