:root {
--backgroundColorFirst: #e5e5e5;
--backgroundColorSecond: #2f303a;
--fontColorFirst: #212121;
--fontColorSecond:  #757575;
--button: #00000026;
--colorBlue: #2196f3;
--colorShadow: #ffffff99;
--colorWhite: #ffffff;
--colorDarkWhite: #f5f4fa;
--caption: #eeeeee; 
--headerBorderColor: #ececec;
}
/*body style*/
.body {
color: var(--fontColorFirst);
font-family: "Roboto","Raleway", sans-serif;
} 
ul {
list-style: none;
}
img {
display: block;
max-width: 100%;
padding: 0;
margin: 0;
}
.container {
width: 1200px;
display: flex;
flex-wrap: wrap;
padding-left: 15px;
padding-right: 15px;
margin: auto;
}
.section{
padding: 94px 0;
}
header {
border-bottom: 1px solid var(--headerBorderColor);
}
.header-container {
justify-content: space-between;
align-items: center;
padding: 24px 15px ;
}
.list {list-style: none;
padding: 0;
margin: 0;
}
    /*body end*/
    /*logo*/  
.logo {
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.38;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--colorBlue);
}   
.logo-recolor-header {color: var(--fontColorFirst)}
/*logo end*/
/*navigation*/
.navigation {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
display: flex;
align-items: center;
}
.navigation .link:hover, 
.navigation .link:focus {color: var(--colorBlue);
outline-color: var(--colorBlue);
}
.navigation .list {
display: flex;
margin-left: 93px;
}
.navigation .item:not(:last-child) {margin-right: 50px;}
.navigation .link {text-decoration: none;
color: var(--fontColorFirst);
}
.navigation .current {color: var(--colorBlue);
}
/*navigation end*/
/*contact*/
.links-contact .item:not(:last-child){
    margin-right: 50px;
}
.links-contact {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
align-items: center;
display: flex;
justify-content: space-between;
}
.links-contact .link {
color: var(--fontColorSecond);
text-decoration: none;
}    
.links-contact .link:focus,
.links-contact .link:hover {
color: var(--colorBlue);}
    /*contact end*/
/*efektywne rozwiazania glowny naglowek*/
.back-section-first {
background-color: var(--backgroundColorSecond);
}
.back-section-first .container {
flex-direction: column;
padding-top: 200px;
padding-bottom: 200px;    
}
.first-heading {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: var(--colorWhite);
background-color: var(--backgroundColorSecond);
width: 696px;
justify-content: center;
margin: 0 auto 30px;
}
.button {
background: var(--colorDarkwhite) ;
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.button-order {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 00.06em;
text-align: center;
align-items: center;
color: var(--colorWhite);
background: var(--colorBlue);
cursor: pointer;
padding-left: 42px;
padding-top: 10px;
padding-right: 41px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
.button.hover {
background: var(--colorBlue);
color: var(--colorWhite);
cursor: pointer;
}
/* efektywne rozwiązania text kolumny*/
.text-section .list {    
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.text-section .list .item {
flex-basis: calc((100% - 3 * 30px) / 4);
}
.heading .list {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--fontColorFirst);
text-align: center;
margin-bottom: 10px;
}
.text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
width: 270px;
}
    /* efektywne rozwiazania end*/
    /* czym sie zajmujemy*/
.services .container {
flex-direction: column;
padding-bottom: 94px;
}
.services .list {
justify-content: space-between;
flex-wrap: wrap;
display: flex;
column-gap: 30px;
}
.services .second-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}
/******* zespół********/
.back-section-second {
background-color: var(--colorDarkWhite);
}
.back-section-second .list {
margin-left: calc(-1 *30px);
display: flex;
flex-wrap: wrap;
column-gap: 30px;
}
.third-heading {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 00.03em;
justify-content: center;
margin: 0 auto 50px auto;
}
.third-heading .list .caption {
padding-top: 30px;
padding-bottom: 30px;    
}

/*------------------*/

.back-section-second .item {
background-color: var(--colorWhite);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}
.back-section-second .caption {
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 0;
}
.back-section-second img{
display: block;
}
.person-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorFirst);
justify-content: center;
padding: 0;
margin: 0 0 10px 0;
}
.person-position {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
justify-content: center;
padding: 0;
margin: 0;
}
/* czym sie zajmujemy end */
/* footer*/
.back-footer {
color: var(--colorWhite);
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
background-color: var(--backgroundColorSecond);
padding:60px 0px 60px 0px;
}
.logo-recolor-footer { color: var(--colorWhite);
margin-top: auto;
}
.back-footer .container {
flex-direction: column;
align-items: baseline;
}
.address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--colorWhite);
padding-top: 24px;
}
.back-footer .link {
text-decoration: none;
color: var(--fontColorSecond);
}
.back-footer .link:focus,
.back-footer .link:hover {
color: var(--colorBlue);
}
/*footer end*/
/*************portfolio*******************/
.gallery .container {
flex-direction: column;
}
.gallery-elements .heading-portfolio{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--fontColorFirst);
display: block;
margin-bottom: 4px;
}
.gallery-elements .text-signature {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--fontColorSecond);
display: block;
}
.gallery-elements {
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin: 0;
padding: 0;
}
.gallery-elements .item{
flex-basis: calc((100% - 2 * 30px) / 3);
}
.gallery-elements .link {
display: inline-block;
padding: 0px;
margin: 0px;
text-decoration: none;
width: auto;
color: var(--fontColorFirst);
}
.gallery-elements .caption {
padding: 20px 24px;
border-left: 1px solid var(--caption);
border-right: 1px solid var(--caption);
border-bottom: 1px solid var(--caption);
}
.gallery-elements-buttons .portfolio-button  {
background-color: var(--colorDarkWhite);
color: var(--fontColorFirst);
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
border-style: hidden;
border-radius: 4px;
padding: 6px 22px;
}
.gallery-elements-buttons .portfolio-link:hover,
.gallery-elements-buttons .portfolio-link:focus {
background-color: var(--colorBlue);
color: var(--colorWhite);
}
.gallery-elements-buttons {
display: flex;
justify-content: center;
margin : 0px auto 50px;
}
.gallery-elements-buttons>li:not(:last-child) {
margin-right: 8px;
}